#  Oh, It's my simple profile

## Today's weather
{{ template "hourly-table" $.TodayWeather.HourlyWeathers }}

## 7-Day forecast
{{ template "daily-table" .Weathers }}


_Last update: {{ formatTime .UpdatedAt }}
